In [1]:
import pandas as pd

In [2]:
df_list = pd.read_html("https://www.imdb.com/chart/top/")
len(df_list)

1

In [3]:
df_list[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Skazani na Shawshank (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Ojciec chrzestny (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Mroczny Rycerz (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. Ojciec chrzestny II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Dwunastu gniewnych ludzi (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Aladyn (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Służące (2011),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Piękna i Bestia (1991),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Rififi (1955),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Tańczący z wilkami (1990),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [4]:
!pip install bs4 lxml

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: lxml in c:\users\kurs\anaconda3\lib\site-packages (4.6.3)
Requirement already satisfied: beautifulsoup4 in c:\users\kurs\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\kurs\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=b2450f1687014ef65390d09883fd88fbf7c4a86707215df161b10a2ffb0f669c
  Stored in directory: c:\users\kurs\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [5]:
import bs4
import requests

In [17]:
import requests

cookies = {
    'uu': 'eyJpZCI6InV1MzhjNzJkZGI1ZWE1NGNiNWE5OTUiLCJwcmVmZXJlbmNlcyI6eyJmaW5kX2luY2x1ZGVfYWR1bHQiOmZhbHNlfX0=',
    'session-id': '145-5767455-7852660',
    'as': '%7B%22n%22%3A%7B%22t%22%3A%5B0%2C0%5D%2C%22tr%22%3A%5B0%2C0%5D%2C%22in%22%3A%5B0%2C0%5D%2C%22ib%22%3A%5B0%2C0%5D%7D%7D',
    'adblk': 'adblk_no',
    'ubid-main': '131-1917565-6338455',
    'session-id-time': '2082787201l',
    'csm-hit': 'tb:SNGW2XR00NKYG0CVCQJQ+s-SNGW2XR00NKYG0CVCQJQ|1650703942327&t:1650703942327&adb:adblk_no',
}

headers = {
    'authority': 'www.imdb.com',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'accept-language': 'pl-PL,pl;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # Requests sorts cookies= alphabetically
    # 'cookie': 'uu=eyJpZCI6InV1MzhjNzJkZGI1ZWE1NGNiNWE5OTUiLCJwcmVmZXJlbmNlcyI6eyJmaW5kX2luY2x1ZGVfYWR1bHQiOmZhbHNlfX0=; session-id=145-5767455-7852660; as=%7B%22n%22%3A%7B%22t%22%3A%5B0%2C0%5D%2C%22tr%22%3A%5B0%2C0%5D%2C%22in%22%3A%5B0%2C0%5D%2C%22ib%22%3A%5B0%2C0%5D%7D%7D; adblk=adblk_no; ubid-main=131-1917565-6338455; session-id-time=2082787201l; csm-hit=tb:SNGW2XR00NKYG0CVCQJQ+s-SNGW2XR00NKYG0CVCQJQ|1650703942327&t:1650703942327&adb:adblk_no',
    'referer': 'https://www.google.com/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="100", "Google Chrome";v="100"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36',
}

response = requests.get('https://www.imdb.com/chart/top/', cookies=cookies, headers=headers)

In [18]:
type(response)

requests.models.Response

In [19]:
response.status_code

200

In [10]:
html_data = bs4.BeautifulSoup(response.text)

In [12]:
tbody = html_data.find("tbody", class_="lister-list")

In [20]:
rows = tbody.find_all("tr")

In [47]:
result = []
for row in rows:
    ranking = row.find("span").get("data-value")
    rating = row.find_all("span")[1].get("data-value")
    title = row.find("td", class_="titleColumn").find("a").text.strip()
    year = row.find("td", class_="titleColumn").find("span", class_="secondaryInfo").text.strip()[1:-1]
    link = "http://imdb.com" + rows[0].find("td", class_="titleColumn").find("a").get("href")
    users = row.find("td", class_="ratingColumn").find("strong").get("title").split(" ")[-3].replace("\xa0","")
    result.append({
        "ranking" : ranking, "rating":rating, "title":title, "year":year, "link":link,
        "users" : users
    })

In [48]:
pd.DataFrame(result)

,ranking,rating,title,year,link,users
0,1,9.2334545465727,Skazani na Shawshank,1994,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,2576715
1,2,9.155432529072801,Ojciec chrzestny,1972,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,1774189
2,3,8.984168580215895,Mroczny Rycerz,2008,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,2544656
3,4,8.983727011901477,Ojciec chrzestny II,1974,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,1226713
4,5,8.946345186084532,Dwunastu gniewnych ludzi,1957,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,761047
...,...,...,...,...,...,...
245,246,8.006990410954831,Aladyn,1992,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,401093
246,247,8.004901523432888,Służące,2011,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,448727
247,248,8.004499580849819,Piękna i Bestia,1991,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,440539
248,249,8.002447550383742,Rififi,1955,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,33674
249,250,8.001531414609405,Tańczący z wilkami,1990,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,258822

In [46]:
rows[0].find("td", class_="ratingColumn").find("strong").get("title").split(" ")[-3].replace("\xa0","")

'2576715'

In [24]:
rows[0]

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="9.2334545465727" name="ir"></span>
<span data-value="7.791552E11" name="us"></span>
<span data-value="2576715" name="nv"></span>
<span data-value="-1.7665454534273" name="ur"></span>
<a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=96805VKQ6JYPSV1T7VK5&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1"> <img alt="Skazani na Shawshank" height="67" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=96805VKQ6JYPSV1T7VK5&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>
<span class="secondaryInfo">(1994)</span>
</td>
<td class="ratingColumn imdbRating">
<strong title="9,2 based on 2 576 715 user ratings">9,2</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt0111161 pending" data-titleid="tt0111161">
<div class="boundary">
<div class="popover">
<span class="delete"> </span><ol><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt0111161"></div>
</td>
</tr>