In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\kurs\Downloads\sales-records.csv")
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Sub-Saharan Africa,Senegal,Baby Food,Offline,L,11/6/2010,575470578,12/11/2010,3387,255.28,159.42,864633.36,539955.54,324677.82
999996,Central America and the Caribbean,Panama,Office Supplies,Offline,C,1/12/2015,766942107,3/1/2015,4068,651.21,524.96,2649122.28,2135537.28,513585.00
999997,Europe,Norway,Office Supplies,Online,M,10/25/2011,685472047,12/5/2011,5266,651.21,524.96,3429271.86,2764439.36,664832.50
999998,Europe,Montenegro,Beverages,Offline,M,10/31/2010,946734225,12/8/2010,8551,47.45,31.79,405744.95,271836.29,133908.66
999999,Central America and the Caribbean,Nicaragua,Meat,Online,C,3/17/2015,886714971,4/8/2015,7519,421.89,364.69,3172190.91,2742104.11,430086.80

In [3]:
df.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [6]:
df.memory_usage(deep=True).sum()

513707055

In [7]:
df.Region.unique()

array(['Sub-Saharan Africa', 'Middle East and North Africa',
       'Australia and Oceania', 'Europe', 'Asia',
       'Central America and the Caribbean', 'North America'], dtype=object)

In [8]:
df.Region.value_counts()

Sub-Saharan Africa                   259953
Europe                               259036
Asia                                 146017
Middle East and North Africa         124344
Central America and the Caribbean    108042
Australia and Oceania                 80837
North America                         21771
Name: Region, dtype: int64

In [10]:
len(df.Country.unique())

185

In [11]:
df["Order Priority"].unique()

array(['M', 'H', 'L', 'C'], dtype=object)

In [12]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [14]:
df.Region = df.Region.astype("category")
df.Country = df.Country.astype("category")
df['Item Type'] = df['Item Type'].astype("category")
df['Sales Channel'] = df['Sales Channel'].astype("category")
df['Order Priority'] = df['Order Priority'].astype("category")

In [15]:
df.dtypes

Region            category
Country           category
Item Type         category
Sales Channel     category
Order Priority    category
Order Date          object
Order ID             int64
Ship Date           object
Units Sold           int64
Unit Price         float64
Unit Cost          float64
Total Revenue      float64
Total Cost         float64
Total Profit       float64
dtype: object

In [16]:
df.memory_usage(deep=True).sum()

193892730

In [17]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1.000000e+06,1.000000e+06
mean,5.493520e+08,4998.867302,266.025488,187.522978,1.329563e+06,9.372671e+05,3.922956e+05
std,2.599397e+08,2885.334142,216.987966,175.650798,1.468527e+06,1.148954e+06,3.788199e+05
min,1.000012e+08,1.000000,9.330000,6.920000,9.330000e+00,6.920000e+00,2.410000e+00
25%,3.239629e+08,2502.000000,81.730000,35.840000,2.778672e+05,1.617289e+05,9.510480e+04
50%,5.486524e+08,4998.000000,154.060000,97.440000,7.844445e+05,4.667818e+05,2.810549e+05
75%,7.745981e+08,7496.000000,421.890000,263.330000,1.822444e+06,1.196327e+06,5.653076e+05
max,9.999999e+08,10000.000000,668.270000,524.960000,6.682700e+06,5.249600e+06,1.738700e+06

In [19]:
df["Units Sold"] = df["Units Sold"].astype("uint16")
df["Unit Price"] = df["Unit Price"].astype("float16")
df["Unit Cost"] = df["Unit Cost"].astype("float16")

In [20]:
df.memory_usage(deep=True).sum()

175892730

In [21]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.328125,6.921875,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.250000,35.843750,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,422.000000,364.750000,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.250000,35.843750,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.437500,31.796875,188518.85,126301.67,62217.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Sub-Saharan Africa,Senegal,Baby Food,Offline,L,11/6/2010,575470578,12/11/2010,3387,255.250000,159.375000,864633.36,539955.54,324677.82
999996,Central America and the Caribbean,Panama,Office Supplies,Offline,C,1/12/2015,766942107,3/1/2015,4068,651.000000,525.000000,2649122.28,2135537.28,513585.00
999997,Europe,Norway,Office Supplies,Online,M,10/25/2011,685472047,12/5/2011,5266,651.000000,525.000000,3429271.86,2764439.36,664832.50
999998,Europe,Montenegro,Beverages,Offline,M,10/31/2010,946734225,12/8/2010,8551,47.437500,31.796875,405744.95,271836.29,133908.66
999999,Central America and the Caribbean,Nicaragua,Meat,Online,C,3/17/2015,886714971,4/8/2015,7519,422.000000,364.750000,3172190.91,2742104.11,430086.80

In [24]:
df["Order Date"] = pd.to_datetime(df["Order Date"], format="%m/%d/%Y")
df["Ship Date"] = pd.to_datetime(df["Ship Date"], format="%m/%d/%Y")

In [25]:
df.dtypes

Region                  category
Country                 category
Item Type               category
Sales Channel           category
Order Priority          category
Order Date        datetime64[ns]
Order ID                   int64
Ship Date         datetime64[ns]
Units Sold                uint16
Unit Price               float16
Unit Cost                float16
Total Revenue            float64
Total Cost               float64
Total Profit             float64
dtype: object

In [26]:
df.memory_usage(deep=True).sum()

60019036

#### Pobieranie danych w porcjach

In [29]:
df = pd.DataFrame()

df_gen = pd.read_csv(r"C:\Users\kurs\Downloads\sales-records.csv", chunksize=95_000)
for chunk in df_gen:
    chunk = chunk.query(" `Units Sold`>300 and `Units Sold`<3000 ")
    df = df.append(chunk)
    print(".", end="")

...........

In [30]:
df.shape

(269587, 14)

In [32]:
df = pd.read_csv(r"C:\Users\kurs\Downloads\sales-records.csv")
df.query(" `Units Sold`>300 and `Units Sold`<3000 ").shape

(269587, 14)